.navbar {
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;

  h1 {
    font-size: 1.8rem;
    margin: 0;
    color: #222;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-left: 10px;
      a {
        color: #222;
        font-size: 1.6rem;
        transition: color 0.3s;
        @media screen and (max-width: 320px) {
          font-size: 1.4rem;
        }
      }
    }
  }
}
