.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 93vh; // Full viewport height
  background-color: #f8f9fa; // Light background color
  text-align: center;
  padding: 20px;

  .profile-info {
    margin-bottom: 20px;

    h1 {
      font-size: 2.5rem;
      line-height: 1.4;
      color: #343a40; // Dark text color

      .highlight {
        color: #007bff; // Highlight color
        font-weight: bold;
      }
    }

    .resume-btn {
      margin-top: 20px;
      padding: 12px 24px;
      border: none;
      border-radius: 8px;
      background-color: #007bff; // Button color
      color: #ffffff;
      font-size: 1.1rem;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: #0056b3; // Darker shade on hover
        transform: scale(1.05);
      }
    }
  }

  .profile-img {
    margin-top: 20px;

    img {
      width: 250px; // Adjust size as needed
      border-radius: 15%; // Slightly rounded profile image
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Shadow effect
      //border: 4px solid #007bff; // Border color
    }
  }
}
